.group_wrapper_title {
  cursor: pointer;
  border-bottom: 1px solid #eee;
  padding: 15px;
  font-weight: bold;
  position: relative;
  margin: -16px -16px 0;

}

  .group_wrapper_title &::after {
    content: "▼";
    position: absolute;
    right: 15px;
    transition: transform 0.2s;
  }
.group_wrapper.closed .group_wrapper_title::after {
  transform: rotate(-90deg);
}

.group_wrapper .collapsible-content {
  padding-top: 15px;
}

.form-field-wide {
  padding: 0 15px;
}