.hero-sub {
  .__arrow {
	display: flex;
	justify-content: center;
	width:72px;
	height: 72px;;
    bottom: -36px;
    position: absolute;
    padding: 24px;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
	transition: all 0.3s ease;
  }
  .__arrow:hover {
	background-color: var(--p-hover) !important;
	transition: all 0.3s ease;
  }
}
